<div class="guia1">
  <div class="content-guia1">
    <h1>Sistema de Gestión de Asignaturas</h1>

    <div style="overflow-x: auto; width: 100%;">
      <table style="width: 100%; white-space: nowrap; font-size: 16px;">
        <thead>
          <tr>
            <th>ID de Asignatura</th>
            <th>Carrera</th>
            <th>Asignatura</th>
            <th>Grupo</th>
            <th>Número de Estudiantes</th>
            <th>Acciones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each guias}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.carrera}}</td>
            <td>{{this.asignatura}}</td>
            <td>{{this.grupo}}</td>
            <td>{{this.num_estudiantes}}</td>
            <td><a href="/descargar">Descargar Guía</a></td>
            <td><a href="/guias/subirguia">Subir Guía</a></td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
